.modalDelete {
	display: none;
	position: absolute;
	top: 25vh;
	left: 35vw;

	width: 30rem;
	background-color: #39495e;
}

.modalDelete .modalHeader {
	margin-bottom: 0.2rem 0;
}

.crossd {
	position: absolute;
	right: 1.5rem;
	top: 1.5rem;
}

.modalDelete .modalBody {
	padding: 0 1rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.btnDeleteContainer {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
}

.btnDelete {
	padding: 0.5rem 1rem;
	color: #ffffff;
	background-color: #14aff1;
	border-radius: 0.5rem;
}

.btnCancel {
	margin: 0 0.8rem;
	padding: 0.4rem 1rem;
	border: 0.1rem solid #14aff1;
	color: #ffffff;
	background-color: transparent;
	border-radius: 0.5rem;
}
